.landinginfo {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  background-image: url(../media/img/background-image-02.png);
  background-repeat: no-repeat;
  background-position: 5px -40px;
}
