.font-size_12px {
  font-size: 12px;
}

.font-size_13px {
  font-size: 13px;
}

.font-size_14px {
  font-size: 14px;
}

.font-size_18px {
  font-size: 18px;
}

.font-size_20px {
  font-size: 20px;
}

.font-size_22px {
  font-size: 22px;
}

.font-size_24px {
  font-size: 24px;
}

.font-size_26px {
  font-size: 26px;
}

.font-size_28px {
  font-size: 28px;
}

.font-size_30px {
  font-size: 30px;
}

.font-size_32px {
  font-size: 32px;
}

.font-size_34px {
  font-size: 34px;
}

.font-size_42px {
  font-size: 42px;
}

.font-size_48px {
  font-size: 48px;
}

.font-size_54px {
  font-size: 54px;
}

.font-size_64px {
  font-size: 64px;
}

.font-size_93px {
  font-size: 93px;
}

.font-size_130px {
  font-size: 130px;
}

@media (max-width: 576px) {
  .m-font-size_12px {
    font-size: 12px;
  }
  .m-font-size_14px {
    font-size: 14px;
  }
  .m-font-size_20px {
    font-size: 20px;
  }
  .m-font-size_22px {
    font-size: 22px;
  }
  .m-font-size_24px {
    font-size: 24px;
  }
  .m-font-size_26px {
    font-size: 26px;
  }
  .m-font-size_28px {
    font-size: 28px;
  }
  .m-font-size_32px {
    font-size: 32px;
  }
  .m-font-size_40px {
    font-size: 40px;
  }
  .m-font-size_44px {
    font-size: 44px;
  }
  .m-font-size_50px {
    font-size: 50px;
  }
  .m-font-size_54px {
    font-size: 54px;
  }
}
.font-weight_300 {
  font-weight: 300;
}

.font-weight_400 {
  font-weight: 400;
}

.font-weight_500 {
  font-weight: 500;
}

.font-weight_700 {
  font-weight: 700;
}

.font-weight_600 {
  font-weight: 600;
}

.font-weight_800 {
  font-weight: 800;
}

.font-weight_900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.line-height_40 {
  line-height: 40px;
}

.line-height_18 {
  line-height: 18px;
}

.line-height_24 {
  line-height: 24px;
}

.line-height_28 {
  line-height: 28px;
}

.line-height_38 {
  line-height: 38px;
}

.line-height_48 {
  line-height: 48px;
}

@media only screen and (max-width: 480px) {
  .m-line-height_40 {
    line-height: 40px;
  }

  .m-line-height_18 {
    line-height: 18px;
  }

  .m-line-height_24 {
    line-height: 24px;
  }

  .m-line-height_28 {
    line-height: 28px;
  }

  .m-line-height_38 {
    line-height: 38px;
  }

  .m-line-height_48 {
    line-height: 48px;
  }
}
